.body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), #000);
    height: 100vh;
    color: #fff;
    padding: 30px;
}

.body__banner {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__banner img {
    width: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.banner__text {
    flex: 1;
}

.banner__text strong {
    text-transform: uppercase;
}

.banner__text h2 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.banner__text p {
    font-size: 14px;
}