.body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), #000);
    height: 100vh;
    color: #fff;
    padding: 30px;
    overflow-y: scroll;
}

.body::-webkit-scrollbar{
    display: none;
}

.body__banner {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__banner img {
    width: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.banner__text {
    flex: 1;
}

.banner__text strong {
    text-transform: uppercase;
}

.banner__text h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.banner__text p {
    font-size: 14px;
}

.body__songs {
    margin: 20px -30px;

}

.songs__controls {
    display: flex;
    align-items: center;
    gap: 20px
}

.controls__play {
    font-size: 50px !important;
    margin: 20px 0 20px 50px;
    transition: 150ms ease-in-out !important;
}

.controls__play:hover {
    transform: scale(1.1);
}

.songs__container {
    padding: 0 20px;
    margin-bottom: 60px;
}