.sidebar-option {
    display: flex;
    align-items: center;
    gap: 8px;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms;
}

.sidebar-option:hover {
    color: #fff;
}

.sidebar-option p {

}